body {
  text-align: center;
/*   background-color: LightCyan; */
 }

page-wrap {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

div.container {
    width:60%; 
    margin:1%;
  }
 
table#table1 {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:600px;
}

tr,td {text-align:center;}
  
div.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
